body {
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    background-image: url(../images/morocco-blue.png);
}
main, aside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 25px;
    background-color: #CF638C;
    margin: 10%;
    width: auto;
    height: 500px;
    border: 4px solid rgba(360, 360, 360, .75);
    border-radius: 25px;
    box-shadow: 2px 4px 6px;
}

div:not(.messageHistory) {
    display: grid;
    justify-content: center;
    background-color: rgba(360, 360, 360, .75);
    border-radius: 25px;
    margin: 25px;
    grid-template-rows: 45px auto;
    padding: 20px 0;
    text-align: center;
}

span {
    background-color: rgba(360, 360, 360, .75);
    border-radius: 25px;
    margin: 25px;
    text-align: center;
}

h1 {
    font-size: 36px;
    border-bottom: 2px solid #CF638C;
}

.innerContent {
    background-color: rgba(0, 0, 0, 0); /*Stops opacity from halving itself for the inner content*/
}

span {
    cursor: pointer;
}

aside {
    height: 200px;
}

#chatBox {
    grid-column: 1 / 4;
    grid-row: 1;
    max-height: 55px;
    overflow: auto; /*https://codepen.io/muratcorlu/pen/KzmQEP*/
}

#message {
    grid-column: 1 / 3;
    grid-row: 2;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#submitChat {
    grid-column: 3 / 4;
    grid-row: 2;
    height: 20px;
    padding: 12px 0;
    margin: 0 10px 0 0;
    text-align: center;
}

.messages {
    width: 100%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

input {
    margin: 5px;
}

#submitPlayer-1, #submitPlayer-2 {
    position: relative;
    width: auto;
    padding: 15px;
    bottom: -45px;
    border: solid #CF638C 2px;
    box-shadow: 1px 1px 4px;
    color: #777;
}

#submitPlayer-1:hover, #submitPlayer-2:hover {
    background-color: #CF638C;
    color: #fff;
}

@media screen and (max-width: 1000px) {
    main, aside {
        margin: 25px auto;
        grid-column-gap: 10px;
    }
}

@media screen and (max-width: 760px) {
    main, aside {
        grid-template-columns: 1fr;
        height: auto;
    }
}